<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍃</text></svg>">

    <title>Raspberry Pi Air Quality Monitor</title>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Raspberry Pi Air Quality Monitor</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <canvas id="historicalChart" width="400" height="200"></canvas>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js" integrity="sha512-VCHVc5miKoln972iJPvkQrUYYq7XpxXzvqNfiul1H4aZDwGBGC0lq373KNleaB2LpnC2a/iNfE5zoRYmB4TRDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  const MINS_PER_SAMPLE = {{ minsPerSample }};
  const INITIAL_DATA = {{ historical | tojson }};
  const CHART_OPTIONS = {
    scales: {
      x: {
        title: {
          display:1,
          text: 'Time'
        }
      },
      y: {
        title: {
          display:true,
          text: 'μg /m³'
        },
        beginAtZero: true
      }
    }
  };
function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}
(async function() {
  let ctx = document.getElementById('historicalChart').getContext('2d');
  let chart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: INITIAL_DATA.labels,
          datasets: [INITIAL_DATA.aqi, INITIAL_DATA.pm10, INITIAL_DATA.pm2]
      },
      options: CHART_OPTIONS,
  });

  //const updates = new EventSource("/api/listen");
  //updates.addEventListener('data', e => {
  //  data = JSON.parse(e.data);
  //  chart.data = {
  //    labels: data.labels,
  //    datasets: [data.aqi, data.pm10, data.pm2]
  //  };
  //  chart.update('none');
  //});
  while (true) {
    await sleep(MINS_PER_SAMPLE * 60 * 1000 / 4);
    let data = await fetch('/api/?' + location.search);
    data = await data.json();
    chart.data = {
      labels: data.labels,
      datasets: [data.aqi, data.pm10, data.pm2]
    };
    chart.update('none');
  }
})();
</script>
</body>
</html>
