<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍃</text></svg>">
<style>
#chart {
  height:80vh;
  width:100vw;
}
</style>

    <title>Raspberry Pi Air Quality Monitor</title>

</head>
<body>
  <h1>Raspberry Pi Air Quality Monitor</h1>
  <div id=chart><canvas></canvas></div>
  <div><button>Past</button><button>Future</button></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js" integrity="sha512-VCHVc5miKoln972iJPvkQrUYYq7XpxXzvqNfiul1H4aZDwGBGC0lq373KNleaB2LpnC2a/iNfE5zoRYmB4TRDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  const dateLabel = function(epochSecs) {
    let d = new Date(epochSecs*1e3);
    let t = d.toLocaleString('en-US', { hour12:false, timeStyle:'short' });
    let day = d.toLocaleString('en-US', { weekday: 'short' });
    return `${day} ${t}`;
  };
  const MINS_PER_SAMPLE = {{ minsPerSample }};
  const INITIAL_DATA = {{ historical | tojson }};
  const CHART_OPTIONS = {
    maintainAspectRatio: false,
    scales: {
      x: {
        ticks: { callback: function(v) {
          return dateLabel(this.getLabelForValue(v));
        } },
        title: {
          display:1,
          text: 'Time'
        }
      },
      y: {
        title: {
          display:1,
          text: 'μg /m³'
        },
        beginAtZero: true
      }
    },
    plugins: { tooltip: { callbacks: {
      title: ctxs => dateLabel(parseFloat(ctxs[0].label)),
      label: ctx => `${ctx.dataset.label}: ${ctx.parsed.y}`
    } } }
  };
function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}
(async function() {
  let ctx = document.getElementById('chart').childNodes[0].getContext('2d');
  let chart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: INITIAL_DATA.labels,
          datasets: [INITIAL_DATA.aqi, INITIAL_DATA.pm10, INITIAL_DATA.pm2]
      },
      options: CHART_OPTIONS,
  });

  //const updates = new EventSource("/api/listen");
  //updates.addEventListener('data', e => {
  //  data = JSON.parse(e.data);
  //  chart.data = {
  //    labels: data.labels,
  //    datasets: [data.aqi, data.pm10, data.pm2]
  //  };
  //  chart.update('none');
  //});
  while (true) {
    await sleep(MINS_PER_SAMPLE * 60 * 1000 / 4);
    let data = await fetch('/api/?' + location.search);
    data = await data.json();
    chart.data = {
      labels: data.labels,
      datasets: [data.aqi, data.pm10, data.pm2]
    };
    chart.update('none');
  }
})();
  {
    let today = new Date();
    let til = new Date();
    let from = new Date();
    let formatDate = d => `${d.getFullYear()}${String(d.getDate()).padStart(2, "0")}`;
    document.documentElement.addEventListener('click', async (e) => {
      if (e.target.tagName === "BUTTON") {
        if (e.target.innerText === "Past") {
          til.setDate(til.getDate()-1);
          from.setDate(til.getDate()-1);
        } else {
          til.setDate(til.getDate()+1);
          from.setDate(til.getDate()-1);
        }
        let data = await fetch(`/api/?from=${formatDate(from)}&to=${formatDate(til)}`);
        data = await data.json();
        chart.data = {
          labels: data.labels,
          datasets: [data.aqi, data.pm10, data.pm2]
        };
        chart.update('none');
      }
    });
  }
</script>
</body>
</html>
