[Unit]
Description=Air Quality Monitor service
After=syslog.target network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/var/www/airquality
Environment=PORT=8001
ExecStart=/var/www/venv/bin/python app.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
